:root {
  --brand-gray: #333;
  --text-color: var(--brand-gray);
  --text-on-dark-color: #fff;
  --primary-color: #267365;
  --primary-dark-color: color-mix(in srgb, var(--primary-color) 50%, #000);
  --primary-light-color: color-mix(in srgb, var(--primary-color) 50%, #fff);
  --secondary-color: #F2CB05;

  --highlight-color: #F23030;
  --highlight-light-color: #F28705;
  --highlight-lighter-color: #F29F05;

}

html {
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;

  font-size: 1.6rem;
}

:link {
  color: var(--primary-color);

  &:hover,
  &:active {
    color: var(--primary-light-color);
  }
}

:visited {
  color: var(--primary-dark-color);
}

.hidden {
  display: none !important;
}

.brandForm {
  display: grid;
  gap: 1rem;
  grid-template-columns: 150px 1fr;

  width: 70vw;
  margin: 0 auto;

  & > label {
    justify-self: end;
    align-self: center;
  }

  & input:not([type=checkbox],[type=radio],[type=color],[type=range]) {
    padding: .5rem;
    
    border: 1px solid var(--text-color);
    border-radius: 5px;
  }

  & .errorMessage {
    color: var(--highlight-color);
    margin-top: 0;
  }
}

.fullWidth {
  grid-column: 1 / -1;
}

.secondColumn {
  grid-column-start: 2;
}

.autoWidth {
  justify-self: start;
}

/*
  CSS Selector Specificity:

  *      -> 0
  Element (body, div, article, html), ::pseudo-element (::after, ::selection) -> 1
  .class, :pseudo-class (:hover, :active), [attr] -> 10
  #id    -> 100

  .mainMenu a:hover -> 21

  id | class | element
  1       0       0

  0     10      0

  0.10.0
  .
  .
  0.255.0
  1.0.0
*/
