.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;

  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 2rem;

  background: var(--primary-dark-color);
  color: var(--text-on-dark-color);
}

.mainMenu {
  display: flex;
  flex-grow: 1;

  margin: 0;
  margin-inline-start: 0;
  padding: 0;
  padding-inline-start: 0;

  list-style: none;

  /* CSS nesting */
  & a {
    /* .mainMenu a { } */
    display: inline-block;
    padding: 1rem;

    color: inherit;
    text-decoration: none;

    &:hover {
      /* .mainMenu a:hover { } */
      text-decoration: underline;
    }

    &.special {
      color: red;
    }

    &.active {
      color: var(--secondary-color);
    }

  }
}

.navLink {
  display: inline-block;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.pushRight {
  margin-left: auto;
}
