.nav {
  display: flex;
  gap: 2rem;
  align-items: center;

  background: var(--primary-dark-color);
  color: var(--text-on-dark-color);
}

.mainMenu {
  display: flex;
  flex-grow: 1;

  margin: -.5rem 0 0 0;
  padding: 0;

  list-style: none;

  /* CSS nesting */
  & a {
    /* .mainMenu a { } */
    display: inline-block;
    padding: 1rem;

    color: inherit;
    text-decoration: none;

    &:hover {
      /* .mainMenu a:hover { } */
      text-decoration: underline;
    }

    &.special {
      color: red;
    }

    &.active {
      color: var(--secondary-color);
    }

  }
}

.pushRight {
  margin-left: auto;
}
